.sidebar-header{
    gap: 10px;
}

.jobs-wrapper{
    width: 800px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.job-posting {
    width: 90%;
}

.job-card:hover{
    transform: none !important;
    box-shadow: none !important;
}

#job-card-title{
    color: #0a66c2
}

#location-post, #date-post{
    font-size: 1.2rem;
}

.job-description{
    font-size: 1.32rem !important;
}

.jobs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.location-date-class{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.job-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.job-actions{
    display: flex;
    gap: 10px;
    justify-content: center;
}


.layout-main .job-card{
    max-width: 500px !important;
}