/* Style the dropdown toggle (button) */
.dropdown-toggle {
    background-color: #e5e5e5;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
}

.dropdown{
    margin-bottom: 2%;
}

#dropdown-basic{
    background-color: #e5e5e5;
    border: none;
    color: black;
}

/* Hover state for the dropdown toggle */
.dropdown-toggle:hover {
    background-color: #0056b3;
}

/* Style the dropdown menu */
.dropdown-menu {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

/* Style individual dropdown items */
.dropdown-item {
    font-size: 14px;
    color: black;
    padding: 8px 20px;
    margin-bottom: 5px;
    /* Add margin to the bottom of each item for spacing */
}

/* Hover state for dropdown items */
.dropdown-item:hover {
    background-color: #007bff;
    color: white;
}

/* Focus state for dropdown items */
.dropdown-item:focus {
    background-color: #0056b3;
    color: white;
}