/* NotFound.css */
.notfoundcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Full viewport height */
    text-align: center;
}

.notfoundtitle {
    font-size: 2.5em;
    font-weight: bold;
}

.backhomelink {
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-size: 1.2em;
}

.backhomelink:hover {
    color: #0056b3;
}